<template>
  <transition name="fade">
    <div class="mainpage">
      <div class="mainpage__content content">
        <div class="content__selectors">
          <div class="content__selector selector selector--new">
              <div class="selector__input" @click="loadDataFile">Добавить файл данных</div>
              <span class="selector__text">{{ newData.fileName }}</span>
              <div
                v-if="newData.fileName"
                class="selector__clear"
                @click="clearNewData"
              ></div>
          </div>
          <div class="content__selector selector selector--old">
              <div class="selector__input" @click="loadOldReport">Добавить предыдущий отчет</div>
              <span class="selector__text">{{ oldReport.fileName }}</span>
              <div
                v-if="oldReport.fileName"
                class="selector__clear"
                @click="clearOldReport"
              ></div>
          </div>
          <div class="content__input input" :class="inputClasses">
            <span class="input__text">Количество обучающихся</span>
            <div class="input__content">
              <input
                class="input__form"
                type="number"
                v-model.number="usersAmount"
                maxlength="7"
                placeholder="1 - 9999999"
                @input="resetProgress"
              >
              <div class="input__status"></div>
            </div>
          </div>
          <div
            class="content__selector selector selector--save"
            :class="{ disabled: !isReady }"
          >
            <div class="selector__input" @click="showSaveDialog">Сохранить отчет</div>
          </div>
        </div>
        <transition name="fastfade">
          <ProgressbarCompo
            v-if="isReady && percent" 
            class="content__info"
            :percent="percent"
            :workStatus="workStatus"
            :isReady="isReady"
          />
        </transition>
      </div>
    </div>
  </transition>
</template>

<script>
  import fs from 'fs';
  import path from 'path';
  import XLSX from 'xlsx';
  import xl from 'excel4node';
  import { namesConst, statusConst } from '@/js/constants.js';

  import agregateData from '@/js/agregateData.js';
  import dashboard from '@/js/handlers/dashboard.js';
  import ranging from '@/js/handlers/ranging.js';
  import sla from '@/js/handlers/sla.js';
  import stats from '@/js/handlers/stats.js';
  import archive from '@/js/handlers/archive.js';
  const { dialog } = require('electron').remote

  import ProgressbarCompo from '@/components/ProgressbarCompo.vue';
  
  export default {
    name: 'MainPage',
    components: {
      ProgressbarCompo
    },
    data() {
      return {
        wb: null,
        jsonObject: null,
        preparedJson: null,
        agregated: null,
        sheetNames: [],
        percent: 0,
        errors: 0,
        usersAmount: null,
        workStatus: '',
        newData: {
          loaded: false,
          filePath: null,
          fileName: null
        },
        oldReport: {
          loaded: false,
          filePath: null,
          fileName: null,
          fileDate: null
        },
        newReport: {
          filePath: null,
          fileName: null,
          fileDate: null
        }
      }
    },
    computed: {
      isReady() {
        return this.newData.loaded && this.isUsersAmountValid;
      },
      isUsersAmountValid() {
        return this.usersAmount > 0 && this.usersAmount <= 9999999;
      },
      inputClasses() {
        return {
          'input--positive': this.isUsersAmountValid,
          'input--negative': this.usersAmount && !this.isUsersAmountValid
        }
      }
    },
    methods: {
      resetProgress() {
        this.percent = 0;
      },
      startWork() {
        this.workStatus = statusConst.inProgress;

        let doScaledTimeout = (i) => {
          setTimeout(() => {
            this.percent = i;
            if (i === 100) {
              this.workStatus = (this.errors) ? statusConst.failed : statusConst.completed;
            }
          }, i * 10);
        }

        for (var i = 0; i <= 100; i++) {
          doScaledTimeout(i);
        }

        this.parseData();
        this.agregated = agregateData(this.preparedJson);
        this.agregated.usersAmount = this.usersAmount;
        if (this.oldReport.loaded) this.handleOldReport();

        console.warn(this.agregated);
        this.createWorkbook();
        this.writeWorkbook();
      },
      parseData() {
        let buffer = fs.readFileSync(this.newData.filePath);
        let workbook = XLSX.read(buffer, { type:'buffer', cellDates: true });
        let XLRowObject = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[workbook.SheetNames[0]]);

        this.jsonObject = JSON.stringify(XLRowObject, null, '\t');
        this.preparedJson = this.prepareData(this.jsonObject);
      },
      prepareData(jsonObject) {
        let result = []

        JSON.parse(jsonObject).forEach(elem => {
          let tempElem = {
            requestId: elem['Номер заявки'],
            openDate: elem['Дата открытия заявки'],
            lastMsgDate: elem['Дата последнего сообщения'],
            messageTheme: elem['Тема сообщения'],
            userRequests: elem['Количество сообщений пользователя'],
            operatorResponses: elem['Количество ответов оператора'],
            userLogin: elem['Логин сотрудника который отправил тикет'],
            tags: elem['Теги к ответам'].split(','),
            firstAnswerTime: elem['Время на первый ответ'],
            status: elem['Статус тикета'],
            resolveTime: elem['Время на решение'],
            operator: elem['Оператор'].split(' ')[1]
          }
          tempElem.courseName = tempElem.tags.find(tag => tag.match(/Курс (.+)/gi)) || 'Другое';
          result.push(tempElem);
        })

        return result;
      },
      createWorkbook() {
        this.wb = new xl.Workbook();
        this.sheetStore = [
          { name: namesConst.DASHBOARD, handler: dashboard },
          { name: namesConst.SLA, handler: sla },
          { name: namesConst.RANGING, handler: ranging },
          { name: namesConst.STATS, handler: stats },
          { name: namesConst.ARCHIVE, handler: archive }
        ]

        this.sheetStore.forEach((sheet, sheetId) => {
          let ws = this.wb.addWorksheet(sheet.name);

          if (sheet.handler.start) {
            sheet.handler.start(this.agregated, ws);
          }
        })
      },
      writeWorkbook() {
        this.wb.write(this.newReport.filePath);
        console.warn('Write completed!')
      },
      loadDataFile() {
        dialog.showOpenDialog({
          title: 'Select a file',
          properties: ['openFile']
        }, (filePaths) => {
          if (filePaths === undefined) {
            return false
          } else {
            this.clearServiceData();
            this.newData.filePath = filePaths[0];
            this.newData.fileName = this.newData.filePath.split('\\').pop() || '';

            let fileContent = fs.readFileSync(this.newData.filePath, 'utf8');
            this.newData.loaded = true;
          }
        })
      },
      loadOldReport() {
        dialog.showOpenDialog({
          title: 'Select a file',
          properties: ['openFile']
        }, (filePaths) => {
          if (filePaths === undefined) {
            return false
          } else {
            this.oldReport.filePath = filePaths[0];
            this.oldReport.fileName = this.oldReport.filePath.split('\\').pop() || '';
            this.oldReport.fileDate = this.oldReport.fileName.split('_')[1].split('.')[0];
            this.oldReport.loaded = true;
          }
        })
      },
      handleOldReport() {
        let workbook = XLSX.readFile(this.oldReport.filePath);
        let oldStat = XLSX.utils.sheet_to_json(workbook.Sheets['Статистические показатели'], {raw: true});
        let oldArchive = XLSX.utils.sheet_to_json(workbook.Sheets['Архив'], {raw: true, header: 1});

        this.agregated.oldReportData = { 
          reportsAmount: oldStat[0].__EMPTY,
          resolvedReports: oldStat[1].__EMPTY,
          pendingReports: oldStat[2].__EMPTY,
          unresolvedReports: oldStat[3].__EMPTY,
          duplicatedReports: oldStat[4].__EMPTY,
          userReturns: oldStat[5].__EMPTY,
          usersAmount: oldStat[8].__EMPTY,
          reportDate: this.oldReport.fileDate,
          archive: oldArchive || null
        }
      },
      showSaveDialog() {
        let now = new Date();
        this.newReport.fileDate = `${now.getFullYear()}-${now.getMonth() + 1}-${now.getDate()}`;

        dialog.showSaveDialog({
          title: 'Select a file',
          defaultPath: `report_${this.newReport.fileDate}.xlsx`
        }, (filePaths) => {
          if (filePaths === undefined) {
            return false;
          } else {
            this.newReport.filePath = filePaths;
            this.newReport.fileName = this.newReport.filePath.split('\\').pop() || '';
            try {
              this.startWork();
            } catch(err) {
              this.errors++;
              throw new Error();
            }
          }
        })
      },
      clearServiceData() {
        this.percent = 0;
        this.errors = 0;
        this.workStatus = 'Не начато';
      },
      clearNewData() {
        this.newData = {
          loaded: false,
          filePath: null,
          fileName: null
        }
      },
      clearOldReport() {
        this.oldReport = { 
          loaded: false,
          filePath: null,
          fileName: null,
          fileDate: null
        }
        this.agregated.oldReportData = undefined;
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "@/scss/mainpage.scss"
</style>
