<template>
  <div class="info">
    <div class="info__upper">
      <div class="info__percent percent">
        <span class="percent__digit">{{ percent }}</span>
        <span class="percent__sign">%</span>
      </div>
      <div
        v-if="isActive"
        class="info__status"
        :class="statusClasses"
      >{{ workStatus }}</div>
    </div>
    <div class="info__loader loader">
      <div
        v-if="isReady"
        class="loader__fill"
        :style="{ width: percent + '%' }"
      ></div>
    </div>
  </div>
</template>

<script>
  import { namesConst, statusConst } from '@/js/constants.js';
  
  export default {
    name: 'Progressbar',
    data() {
      return {
      }
    },
    props: {
      percent: Number,
      workStatus: String,
      isReady: Boolean
    },
    computed: {
      isActive() {
        return this.workStatus !== statusConst.notStarted
      },
      statusClasses() {
        return {
          'info__status--completed': this.workStatus === statusConst.completed,
          'info__status--failed': this.workStatus === statusConst.failed
        }
      },
    },
    methods: {}
  }
</script>

<style lang="scss" scoped>
.info {
  position: relative;
  width: 100%;
  cursor: default;

  &__upper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__loader {
    margin-top: 0.5rem;
  }
  &__status {
    &--completed {
      color: #11AD8E;
    }
    &--failed {
      color: #FF512F;
    }
  }
}

.percent {
  line-height: 1;

  &__digit {
    font-size: 1.5rem;
  }
  &__sign {
    font-size: 1rem;
  }
}

.loader {
  width: 100%;
  height: 0.2rem;

  &__fill {
    height: 100%;
    background: linear-gradient(to left, #00c6ff, #0072ff);
  }
}
</style>
