.fade-enter-active,
.fade-leave-active {
    transition: opacity .3s
}
.fade-enter,
.fade-leave-to {
    opacity: 0
}

.fastfade-enter-active,
.fastfade-leave-active {
    transition: opacity .15s
}
.fastfade-enter,
.fastfade-leave-to {
    opacity: 0
}

.button-default {
    text-align: center;
    padding: 0.5rem 2rem;
    border-radius: 1.5rem;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #15DB93;
    -webkit-app-region: no-drag;
    transition: all .3s;

    &:hover {
        background-color: #11AD8E;
        transition: all .3s;
    }
    &.disabled {
        background-color: #9ca9b8;
        pointer-events: none;
        opacity: 0.3;
        transition: all .3s;
    }
}
.button {
    position: relative;
    float: left;
    height: 2rem;
    font-family: GothamPro;
    font-size: 0.8rem;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
}
.button:disabled, .button[disabled] {
    background-color: #9ca9b8!important;
}