.mainpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 2rem;

  &__selectors {
    display: flex;
    flex-direction: column;
    width: 100%;

    .selector:first-child {
      margin-bottom: 0.6rem;
    }
    .selector:last-child {
      margin-top: 0.6rem;
    }
  }
}

.selector {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 700;
  color: white;
  transition: all .3s;

  &__input {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.8rem;
    // background-color: #00B4DB;
    background: linear-gradient(-45deg, #00c6ff, #0072ff);
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      transition: all .3s;
      // background-color: #0083B0;
      background: linear-gradient(-45deg, #00b4e6, #0067e6);
      transition: all .3s;
    }
  }
  &__text {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 1.2rem;
    color: rgb(92, 92, 92);
    cursor: default;
    overflow: hidden;
  }
  &__clear {
    width: 1rem;
    height: 1rem;
    margin-left: 1rem;
    background: url('~@/assets/img/icon_trash.png') no-repeat center;
    background-size: contain;
    cursor: pointer;

    &:hover {
      filter: brightness(0.8);
    }
  }
  &.disabled {
    pointer-events: none;
    cursor: default;

    .selector__input {
      filter:grayscale(1);
    }
  }
  &--save {
    align-self: flex-start;
    margin-top: 2.5rem !important;

    .selector__input {
      // background-color: #15DB93;
      background: linear-gradient(-45deg, #15DB93, #11AD8E);
    }
    &:hover {
      .selector__input {
        // background-color: #11AD8E;
        background: linear-gradient(-45deg, rgb(13, 201, 132), rgb(11, 155, 126));
      }
    }
  }
}

.input {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;

  &__form {
    width: 8.3rem;
    padding: 0.3rem;
    font-size: 0.9rem;
    font-weight: 700;
    color: #3c525a;
    outline: none;
    border: none;
    border: 2px solid #dfdfdf;
    border-radius: 0.2rem;
    transition: all .3s;

    &:focus {
      border-color: #00c6ff;
      transition: all .3s;
    }
    &::placeholder {
      color: rgb(223, 223, 223);
    }
    &::selection {
      background: #61ddff;
    }
  }
  &__text {
    margin-bottom: 0.4rem;
    font-size: 0.65rem;
    font-weight: 700;
    color: gray;
  }
  &__content {
    display: flex;
    align-items: center;
  }
  &__status {
    height: 0.8rem;
    width: 0.8rem;
    margin-left: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all .3s;
  }
  &--positive {
    .input__status {
      background-image: url('~@/assets/img/icon_success-message.png');
    }
    .input__form {
      border-color: #15DB93;
    }
  }
  &--negative {
    .input__status {
      background-image: url('~@/assets/img/icon_error-message.png');
    }
    .input__form {
      border-color: #FF4949;
    }
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}