<template>
  <transition name="fade">
    <div id="app">
      <MainPageCompo></MainPageCompo>
    </div>
  </transition>
</template>

<script>
  import MainPageCompo from '@/components/MainPageCompo'

  export default {
    name: 'helpdesk-report-electron',
    components: {
      MainPageCompo
    }
  }
</script>

<style lang="scss">
#app {
  height: 100%;
  width: 100%;
}
</style>
